<section class="statistic" *ngIf="!loading">
    <div class="container">
        <div class="col-xl-6 offset-lg-3 col-lg-12 col-12 mb30">
            <div class="au-card">
                <tabset>
                    <tab heading="Informações da turma">
                        <div class="body-detail mt-3">
                            <span class="mt-5">
                                Nome da Turma:
                            </span>
                            <h5>
                                {{ class.name }}
                            </h5>
                            <div *ngIf="class.code">
                                <span class="mt-5">
                                    Código da turma:
                                </span>
                                <h5>
                                    {{ class.code }}
                                </h5>
                            </div>
                            <div *ngIf="class.institution">
                                <span>
                                    Instituição de Ensino:
                                </span>
                                <h5>
                                    {{ class.institution }}
                                </h5>
                            </div>
                            <span class="mt-5">
                                Data de cadastro:
                            </span>
                            <h5>
                                {{ class.createdAt | date: 'fullDate' }}
                            </h5>
                            <span class="mt-5">
                                Última modificação:
                            </span>
                            <h5>
                                {{ class.updatedAt | date: 'fullDate' }}
                            </h5>
                            <hr>
                            <div class="text-center" *ngIf="!hasPermissionOfAdm">
                                <button class="btn btn-outline-danger" (click)="confirmDelete()">
                                    <fa-icon icon="times"></fa-icon>
                                    Excluir
                                </button>
                                <button type="button" class="btn btn-outline-info" (click)="goEdit()">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    Alterar dados
                                </button>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Assuntos da turma">
                        <app-topics></app-topics>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</section>
