.login-block {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background: #DE6262;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
    width: 100%;
    padding: 50px 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-sec {
        padding: 50px 30px;
        position: relative;

        .login-banner {
            background-color: white;
            padding: 50px 30px;
            border-radius: 10px;
            border: 5px solid #ed8f77;

            .copy-text {
                position: absolute;
                width: 65%;
                bottom: 20px;
                font-size: 15px;
                text-align: center;

                span {
                    color: white;
                    text-transform: uppercase;
                    font-weight: 400;
                }
            }

            h2 {
                margin-bottom: 20px;
                font-weight: 800;
                font-size: 30px;
                color: #DE6262;
            }

            h3 {
                text-align: center;
                font-size: 16px;
                margin-bottom: 20px;
                color: #e26e67;
            }

            h2:after {
                content: " ";
                width: 100px;
                height: 5px;
                background: #FEB58A;
                display: block;
                margin-top: 20px;
                border-radius: 3px;
                margin-left: auto;
                margin-right: auto
            }

            .btn-social {
                text-transform: uppercase;
                background-color: #e26e67;
                color: white;
                font-weight: 500;
            }
        }
    }
}
