<header class="header-desktop">
    <div class="section__content">
        <div class="container-fluid">
            <div class="header-wrap2">
                <div class="logo d-block d-lg-none">
                    <img [src]="logo" alt="Logo Searchlas">
                </div>
                <div class="header-button2">
                    <div class="header-button-item js-item-menu" (click)="goProfile()">
                        <span class="user-logged">{{ userLogged.name }}</span>
                        <fa-icon icon="user-circle"></fa-icon>
                    </div>
                    <div class="header-button-item mr-0 js-sidebar-btn">
                        <fa-icon icon="sign-out-alt" (click)="doLogout()"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
    <div class="logo">
        <a href="#">
            <img [src]="logo" alt="Logo Searchlabs">
        </a>
    </div>
    <div class="header-button-item mr-0 js-sidebar-btn">
        <i class="zmdi zmdi-menu"></i>
    </div>
    <div class="menu-sidebar2__content js-scrollbar2">
        <menu-navbar checkRole=true></menu-navbar>
    </div>
</aside>

<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <h3 class="title--sbold text-muted">
                                <a [hidden]="!showBack" (click)="comeBack()" class="go_history"><fa-icon icon="chevron-left"></fa-icon></a> {{ title }}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
