<section class="statistic">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Descrição</label>
                                <input type="text" id="company" placeholder="Descrição" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="vat" class=" form-control-label">Localização</label>
                                <input type="text" id="vat" placeholder="Localização" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="street" class=" form-control-label">Observação</label>
                                <textarea class="form-control" rows="2"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">
                                    Adicionar recurso
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <form #formulario="ngForm" (ngSubmit)="addResource(formulario)">
                                <input type="text" class="form-control" name="description" [(ngModel)]="resource.description">
                                <input type="text" class="form-control" name="quantity" [(ngModel)]="resource.quantity">
                                <button class="btn btn-success" type="submit">
                                    Enviar
                                </button>
                            </form>
                        </div>

                        <div class="col-lg-12">
                            <div class="table-panel">
                                <h3 class="title"> Recursos: Hardware/Software </h3>
                                <div class="table-responsive">
                                    <table class="table table-listing">
                                        <tbody *ngIf="resources.length == 0">
                                            <tr>
                                                <td class="text-center text-danger">
                                                    Nenhum recurso adicionado.
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="resources">
                                            <tr *ngFor="let resource of resources; let num = index">
                                                <td> {{ resource.quantity }} - {{ resource.description | uppercase }} </td>
                                                <td>
                                                    <button class="btn btn-outline-danger btn-sm" (click)="removerRes(resource)">
                                                        Excluir
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-12 form-group">
                            <div class="__buttons float-center">
                                <button class="btn btn-danger">
                                    Cancelar
                                </button>
                                <button class="btn btn-success">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>