<section class="statistic">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-floating" (click)="addUser()">
                <fa-icon icon='user-plus' size='2x'></fa-icon>
            </button>
        </div>
    </div>
</section>

<div class="container">
    <div *ngIf="noResults; then noresults; else results"></div>

    <ng-template #noresults>
        <no-result></no-result>
    </ng-template>

    <ng-template #results>
        <div class="table-responsive">
            <table class="table table-borderless table-data">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Username</th>
                        <th>Perfil</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let num = index">
                        <td> {{ user.name }} {{ user.family_name }} </td>
                        <td> {{ user.username }} </td>
                        <td> {{ user.role }} </td>
                        <td> {{ user.status }} </td>
                        <td class="buttons_actions">

                            <fa-icon icon="user-edit"></fa-icon>
                            <fa-icon icon="user-times"></fa-icon>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
</div>