<section class="statistic">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-floating" (click)="addUser()">
                <fa-icon icon='user-plus' size='2x'></fa-icon>
            </button>
        </div>
    </div>
</section>

<section class="row-section">
    <div class="container">
        <div class="col-md-10 offset-md-1 row-block">
            <ul id="sortable">
                <li *ngFor="let user of users; let num = index">
                    <div class="media">
                        <div class="media-left align-self-center">
                            <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/50.jpg">
                        </div>
                        <div class="media-body">
                            <h4> {{ user.name |uppercase }} {{ user.family_name | uppercase }} </h4>
                            <p>
                                {{ user.role }}
                            </p>

                        </div>
                        <div class="media-right align-self-center btn-actions">
                            <fa-icon icon="user-times" class="text-warning"></fa-icon>
                            <fa-icon icon="user-edit" class="text-info"></fa-icon>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>