.alert-message
{
    margin: 20px 0;
    padding: 10px;
    border-left: 3px solid #eee;
    text-align: center;
}

.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h5
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: white;
    border-color: #d9534f;
}
.alert-message-danger h5
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h5
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h5
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h5
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h5
{
    color: #444;
}