<section class="statistic" *ngIf="!loading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="au-card">
                    <div class="au-card-inner text-center">
                        <img [src]="logo" alt="">
                        <h5 class="">
                            Seja bem vindo ao Searchlabs!
                        </h5>
                        <p *ngIf="user.role === 'teacher'">
                            Aqui você pode fazer suas solicitações quando precisar ministrar suas aulas em laboratório.
                        </p>
                        <p *ngIf="user.role === 'administrator'">
                            Aqui você pode controlar todas as reservas dos laboratórios de informática.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h6 class="text-info mt-3 mb-3">
                    Solicitações em aberto
                </h6>
            </div>
            <div class="col-md-12">
                <div class="au-card open">
                    <div class="au-card-inner">
                        <table class="table table-borderless table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Laboratório</th>
                                <th scope="col">
                                    {{ hasPermissionAdmin ? 'Professor' : 'Turma' }}
                                </th>
                                <th scope="col">Data da solicitação</th>
                                <th scope="col">Data para reserva</th>
                                <th scope="col">Horário para reserva</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody *ngIf="!noResults">
                            <tr *ngFor="let solc of solicitations; let num = index">
                                <th scope="row">
                                    {{ num + 1 }}
                                </th>
                                <td> {{ solc.laboratory.name }} </td>
                                <td>
                                    {{ hasPermissionAdmin ? (solc.class.instructor.name + ' ' + solc.class.instructor.family_name) : solc.class.name }}
                                </td>
                                <td> {{ solc.createdAt | date:'dd/MM/yyyy' }} </td>
                                <td>
                                    <div *ngIf="solc.repeate == 'yes'; then repeate, else norepeate"></div>
                                    <ng-template #repeate>
                                        {{ solc.start_date | date:'dd/MM/yyyy' }}
                                        à {{ solc.end_date | date:'dd/MM/yyyy' }}
                                    </ng-template>
                                    <ng-template #norepeate>
                                        {{ solc.start_date | date:'dd/MM/yyyy' }}
                                    </ng-template>
                                </td>
                                <td>
                                    {{ solc.start_hour }} às {{ solc.end_hour }}
                                </td>
                                <td>
                                    <button class="btn btn-outline-info btn-sm" (click)="detailSolicitation(solc)">
                                        Visualizar
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody *ngIf="noResults">
                            <tr>
                                <td colspan="7" class="text-center">
                                    Nenhuma solicitação em aberto
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
