.resources-form {
    margin-top: 25px;
    margin-bottom: 15px;

    h3 {
        font-size: 20px;
        line-height: 1.5;
        margin: 25px 0;
        font-weight: 400;
        color: #3c4858;
    }
}

.btn {
    margin-right: 5px;
}
