.page-wrapper {
    overflow: hidden;
}

.page-container {
    background: #f2f2f2;
    padding-left: 150px;
    height: 100%;
    min-height: 90vh;
    padding-bottom: 50px;
}

.header-desktop {
    height: 75px;
    background: #343a40 !important;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    left: 150px;
}

.header-desktop .section__content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991px) {
    .page-container {
        position: relative;
        padding-left: 0;
    }

    .page-container {
        min-height: 100vh;
    }
}

@media (max-width: 991px) {
    .header-desktop {
        left: 0;
        position: relative;
    }
}

.btns-floating {
    position: fixed;
    float: bottom;
    bottom: 55px;
    right: 15px;
    z-index: 1001;

    .btn {
        fa-icon {
            font-size: 8px;
        }
        height: 40px;
        margin-left: 5px;
    }
}

.go_history {
    margin-right: 10px;
    font-size: 22px;
}

.go_history:hover {
    cursor: pointer;
}

/* Novos Estilos */
.table-responsive {
    margin-top: 15px;

    .table-data {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        padding: 40px;
        padding-right: 35px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;
    }

    .table-data thead {
        background: #24a2b8;
    }

    .table-data thead tr th {
        color: #fff;
        font-weight: 400;
        text-transform: capitalize;
        padding: 10px 40px;
        padding-right: 10px;
    }


    .table-data thead tr th:first-child {
        -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        border-top-left-radius: 3px;
    }

    .table-data thead tr th:last-child {
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-top-right-radius: 3px;
    }

    .table-data thead tr th:last-child {
        text-align: right;
        padding-right: 50px;
    }

    .table-data tbody tr td:last-child {
        text-align: right;
        padding-right: 30px;
    }

    .table-data tbody tr:last-child td:first-child {
        -webkit-border-bottom-left-radius: 8px;
        -moz-border-radius-bottomleft: 8px;
        border-bottom-left-radius: 8px;
    }

    .table-data tbody tr:last-child td:last-child {
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-bottomright: 8px;
        border-bottom-right-radius: 8px;
    }

    .table-data tbody td {
        border-bottom: 1px solid #f5f5f5;
        background: #fff;
        font-size: 14px;
        color: #808080;
        padding: 12px 40px;
        padding-right: 10px;
    }

    .table-data tbody td a {
        font-weight: 500;
    }

    .table-data tbody td a:hover {
        color: #4d88e0;
        cursor: pointer;
    }

    .table-data tbody tr .roles {
        font-weight: 500;
    }

    .buttons_actions {
        .btn-remove, .btn-edit, .btn-resource {
            font-size: 16px;
            padding-bottom: 0;
            padding-top: 0;
        }

        .btn-remove {
            color: #f57c86;
        }

        .btn-edit {
            color: #5080b2e0;
        }

        .btn-resource {
            color: #888;
        }
    }
}

.form-group {
    .control-label {
        font-size: 15px;
        text-transform: none;
        color: #20232b;
        margin-bottom: 8px;
        letter-spacing: 0px;
        font-weight: 400;
    }

    textarea.form-control {
        height: 100px;
    }

    .form-control, .form-select {
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        height: 55px;
        padding: 14px 18px;
        line-height: 1.42857143;
        border: 1px solid #dedbe3;
        background-color: #f8f8f9;
        letter-spacing: 0px;
        margin-bottom: 16px;
        -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
        -webkit-appearance: none;
    }

    .input-group {
        .input-group-append {
            height: 55px;
        }

        .calendar {
            cursor: pointer;
        }
    }

    .form-control, .form-select:focus {
        color: #121113 !important;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #d6dadf;
    }

    .has-error {
        .control-label {
            color: #a94442;
            font-weight: 500;
        }

        .form-control, .form-select {
            border-color: #a94442;
        }
    }

    .card {
        margin-bottom: 16px;
    }

    .card-body {
        padding-bottom: 3px;
    }

    .required-checkbox {
        border-color: #a94442;
        color: #a94442;
    }
}

form {
    .buttons-actions {
        text-align: right;
    }

    .btn {
        border: none;
        padding: 10px;
        text-transform: uppercase;
    }

    .field-required {
        font-size: 14px;
        color: #555555;
    }

    .icon-btn {
        padding: 2px 12px 3px 12px;
        border-radius: 50px;
    }

    .btn-lg {
        font-size: 16px;
        padding: 5px;
    }
}

.btn-search {
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}

.au-card {

    margin-bottom: 20px;
    padding: 1.5em;

    .au-card-title {
        font-size: 20px;
        line-height: 1.5;
        margin: 25px 0;
        font-weight: 400;
        color: #3c4858;
    }

    .card-detail {
        min-height: 240px;
    }

    .body-detail {
        margin-top: 15px;

        h5 {
            color: #4c4c4c;
            font-size: 18px;
            text-transform: uppercase;
        }

        h6 {
            font-weight: 500;
            color: #333;
        }

        h6 span {
            padding-right: 10px;
        }

        span {
            font-size: 15px;
            color: #777;
        }
    }

    button {
        border: none;
        text-transform: uppercase;
    }
}

.ngx-modal {
    .ngx-modal-title {
        font-weight: 600;
        margin-bottom: 30px;
    }

    .ngx-modal-body {
        color: #333;

        h6 {
            margin-bottom: 30px;
        }

        form .form-group textarea {
            height: 80px;
        }

        form .form-group .btn-outline-success, .btn-outline-danger {
            font-weight: 500;
            text-transform: capitalize;
        }
    }
}

/* fim */
