<nav class="navbar-sidebar2">
    <ul class="list-unstyled navbar__list">
        <li routerLinkActive="active">
            <a class="js-arrow" routerLink="dashboard">
                <p>
                    <fa-icon icon="tachometer-alt" size="2x"></fa-icon>
                </p>
                <p> Dashboard </p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a class="js-arrow" routerLink="laboratories">
                <p>
                    <fa-icon icon="sitemap" size="2x"></fa-icon>
                </p>
                <p> Labotarórios </p>
            </a>

        </li>
        <li routerLinkActive="active">
            <a class="js-arrow" routerLink="users">
                <p>
                    <fa-icon icon="users" size="2x"></fa-icon>
                </p>
                <p> Usuários </p>
            </a>

        </li>
        <li routerLinkActive="active">
            <a class="js-arrow" routerLink="classes">
                <p>
                    <fa-icon icon="layer-group" size="2x"></fa-icon>
                </p>
                <p> Classes </p>
            </a>

        </li>
        <li routerLinkActive="active">
            <a class="js-arrow" routerLink="solicitations">
                <p>
                    <fa-icon icon="bell" size="2x"></fa-icon>
                </p>
                <p> Solicitações </p>
            </a>

        </li>
        <li routerLinkActive="active">
            <a class="js-arrow" routerLink="reservations">
                <p>
                    <fa-icon icon="calendar-alt" size="2x"></fa-icon>
                </p>
                <p> Reservas </p>
            </a>

        </li>
        <li routerLinkActive="active">
            <a class="js-arrow" routerLink="occupation_map">
                <p>
                    <fa-icon icon="map-marked-alt" size="2x"></fa-icon>
                </p>
                <p> Mapa de Ocupação </p>
            </a>
        </li>
    </ul>
</nav>